@font-face {
    font-family: 'Cuprum';
    src: url('../fonts/cuprum/Cuprum-Bold.eot');
    src: url('../fonts/cuprum/Cuprum-Bold.eot?iefix') format('eot'),
    url('../fonts/cuprum/Cuprum-Bold.woff') format('woff'),
    url('../fonts/cuprum/Cuprum-Bold.ttf') format('truetype'),
    url('../fonts/cuprum/Cuprum-Bold.svg#webfont') format('svg');
}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url('../fonts/openSansBold/OpenSans-Bold.eot');
    src: url('../fonts/openSansBold/OpenSans-Bold.eot?iefix') format('eot'),
    url('../fonts/openSansBold/OpenSans-Bold.woff') format('woff'),
    url('../fonts/openSansBold/OpenSans-Bold.ttf') format('truetype'),
    url('../fonts/openSansBold/OpenSans-Bold.svg#webfont') format('svg');
}

@font-face {
    font-family: 'OpenSansCondensed';
    src: url('../fonts/openSansCondensed/OpenSansCondensed-Light.eot');
    src: url('../fonts/openSansCondensed/OpenSansCondensed-Light.eot?iefix') format('eot'),
    url('../fonts/openSansCondensed/OpenSansCondensed-Light.woff') format('woff'),
    url('../fonts/openSansCondensed/OpenSansCondensed-Light.ttf') format('truetype'),
    url('../fonts/openSansCondensed/OpenSansCondensed-Light.svg#webfont') format('svg');
}

@font-face {
    font-family: 'OpenSans-Light';
    src: url('../fonts/openSansLight/OpenSans-Light.eot');
    src: url('../fonts/openSansLight/OpenSans-Light.eot?iefix') format('eot'),
    url('../fonts/openSansLight/OpenSans-Light.woff') format('woff'),
    url('../fonts/openSansLight/OpenSans-Light.ttf') format('truetype'),
    url('../fonts/openSansLight/OpenSans-Light.svg#webfont') format('svg');
}

body {
    margin: 0;
    padding: 0;
    background: url("../img/background.png") repeat;
}

.header {
    width: 100%;
    height: 423px;
    background: url("../img/bridges.png") top center no-repeat;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-heading h1 {
    text-transform: uppercase;
    font: 50px "Cuprum";
    color: #000;
    margin: 0;
}

.logo, .location, .bell {
    display: inline-block;
}

.logo {
    text-align: center;
}

.logo__img {
    width: 264px;
    height: 128px;
    display: inline-block;
    background-image: url("../img/logo.png");
    margin-top: 15px;
}

.logo p {
    text-transform: uppercase;
    font: 21px "OpenSansCondensed";
    color: #c3c3c3;
    margin-top: -8px;
}

.location {
    padding-left: 30px;
    overflow: hidden;
}

.location__icon {
    width: 53px;
    height: 84px;
    display: inline-block;
    background: url("../img/sprite.png") 0 0;
    margin-top: 25px;
    float: right;
}

.location-adress {
    float: right;
    margin-top: 35px;
    margin-left: 15px;
}

.location-adress span {
    text-align: left;
    display: block;
    width: 155px;
    font: 21px "OpenSans-Light";
    color: #000;
}

.bell {
    overflow: hidden;
}

.bell-icon {
    display: inline-block;
    width: 60px;
    height: 146px;
    background: url("../img/sprite.png") 0 -101px;
    float: left;
}

.call {
    text-align: center;
    float: left;
    margin-left: 25px;
}

.call a, .call button {
    display: block;
}

.call a {
    font: 36px "Cuprum";
    color: #000;
    margin-top: 31px;
    text-decoration: none;
}

.call a:hover {
    color: #ccc;
}

.call button {
    text-transform: uppercase;
    font: 21px "OpenSans-Light";
    color: #fff;
    background-color: #e72323;
    border: none;
    padding: 12px 35px;
    margin: 22px auto 0;
}

.call button:focus {
    outline: none;
}

.main-info {
    margin-top: 30px;
    border-bottom: 13px solid #000;
}

.list-nav {
    display: none;
    padding-right: 0;
}

.menu-link-icon, .menu-link-icon-close {
    display: none;
}

.list-nav ul {
    padding: 0;
}

.list-nav ul li {
    list-style-type: none;
}

.list-nav ul li::before {
    display: inline-block;
    width: 12px;
    height: 17px;
    content: "";
    background: url("../img/sprite.png") 0 -272px no-repeat;
}

.list-nav ul li:hover.item-nav::before, .list-nav ul li:active.item-nav::before {
    background: url("../img/sprite.png") 0 -323px no-repeat;
}

.list-nav ul li:hover.item-nav a, .list-nav ul li:active.item-nav a {
    color: #000;
    border-bottom: 1px dotted #000;
}

.hover-active-img {
    display: inline-block;
    width: 12px;
    height: 17px;
    content: "";
    background: url("../img/sprite.png") 0 -323px no-repeat;
}

.hover-active-text {
    color: #000;
    border-bottom: 1px dotted #000;
}

.item-nav a {
    text-decoration: none;
    font: 24px "OpenSansCondensed";
    color: #666;
    margin-left: 18px;
}

.splash-screen-wrap .row {
    margin-left: 0;
    margin-right: 0;
}

.splash-screen {
    display: block;
    text-align: center;
    position: relative;
}

.splash-screen-padding {
    padding: 0 0 7px 7px;
    overflow: hidden;
}

.splash-screen img {
    width: 100%;
}

.splash-screen__background {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: background 0.2s;
    top: 0;
    left: 0;
}

.splash-screen:hover .splash-screen__background, .splash-screen:active .splash-screen__background {
    background: rgba(255, 255, 255, 0.7);
}

.splash-screen:hover p, .splash-screen:active p {
    background: rgb(231, 35, 35);
    bottom: 95px;
}

.splash-screen p {
    text-decoration: none;
    width: 100%;
    font: 20px "OpenSansCondensed";
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    margin: 0;
    padding-bottom: 5px;
    transition: background 0.2s, bottom 0.2s;

}

.splash-screen p::after {
    content: "";
    border-bottom: 1px solid #fff;
    display: block;
    padding-top: 5px;
}

.info {
    margin-top: 40px;
}

.info .row {
    padding: 0 15px;
}

.info h3 {
    font: 24px "OpenSans-Bold";
    color: #000;
    margin-bottom: 25px;
}

.info h3 span {
    border-bottom: 5px solid #000;
}

.info-list {
    margin-bottom: 40px;
}

.info-list__item {
    list-style-type: none;
    font: 18px "OpenSans-Light";
    color: #666;
}

.info-list__item::before {
    display: inline-block;
    width: 29px;
    height: 17px;
    content: "";
    background: url("../img/sprite.png") 0 -407px no-repeat;
    margin-right: 10px;
}

.heading__square {
    display: inline-block;
    width: 26px;
    height: 26px;
    background: url("../img/sprite.png") 0 -361px;
}

.heading h2 {
    display: inline-block;
    text-transform: uppercase;
    font: 30px "OpenSans-Bold";
    color: #000;
    margin: 0 15px 40px;
}

.main-text {
    margin-bottom: 60px;
}

.main-text p {
    font: 18px "OpenSans-Light";
    color: #666;
    margin-bottom: 40px;
}

.main-text p span {
    font-weight: bold;
}

.main-text p a {
    text-decoration: underline;
    text-transform: uppercase;
    color: #e72323;
}

.main-text p a:hover {
    color: #000;
}

.footer {
    background: rgba(0, 0, 0, 0.7);
}

.footer-wrap {
    height: 100%;
    padding-bottom: 10px;
}

.footer-location, .footer-bell {
    margin-top: 12px;
}

.footer-location__icon {
    display: inline-block;
    width: 50px;
    height: 75px;
    background: url("../img/sprite.png") -2px -447px;
    margin-right: 18px;
}

.footer-location-adress {
    display: inline-block;
    position: relative;
    bottom: 5px;
}

.footer-location-adress span {
    display: block;
    font: 16px "OpenSans-Light";
    color: #ccc;
}

.footer-bell__icon {
    display: inline-block;
    width: 36px;
    height: 88px;
    background: url("../img/sprite.png") -7px -539px;
    margin-right: 18px;
}

.phone-number {
    display: inline-block;
    position: relative;
    bottom: 15px;
}

.footer-bell-tel {
    font: 16px "OpenSans-Light";
    color: #ccc;
}

.footer-bell-tel a {
    text-decoration: none;
    font: 16px "OpenSans-Light";
    color: #ccc;
}

.footer-bell-tel a:hover {
    color: #000;
}

.footer-nav {
    font: 18px "OpenSansCondensed";
    color: #ccc;
    line-height: 100px;
}

.footer-nav a {
    text-decoration: none;
    font: 18px "OpenSansCondensed";
    color: #ccc;
}

.footer-nav a:hover {
    color: #000;
}

@media (min-width: 1200px) {
    .splash-screen-padding:nth-child(3n + 1) {
        clear: left;
    }
}

@media (max-width: 1199px) and (min-width: 992px) {
    .splash-screen-padding:nth-child(2n + 1) {
        clear: left;
    }

    .splash-screen:hover p, .splash-screen:active p {
        bottom: 100px;
    }
}

@media (max-width: 1199px) {
    .header {
        background: url(../img/one-bridge.png) 52% bottom no-repeat;
        height: 450px;
    }

    .call {
        margin-left: 10px;
    }

    .call a {
        font-size: 33px;
    }

    .call button {
        padding: 12px 22px;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .splash-screen-padding:nth-child(3n + 1) {
        clear: left;
    }
}

@media (max-width: 991px) {
    .header {
        height: 100%;
        background: none;
    }

    .header-info-contacts {
        margin-top: 10px;
    }

    .header-heading {
        text-align: center;
        margin-top: 30px;
    }

    .list-nav {
        margin-bottom: 30px;
    }

    .splash-screen p {
        font-size: 19px;
    }

    .splash-screen:hover p, .splash-screen:active p {
        bottom: 45px;
    }

    .footer-bell {
        margin-top: 10px;
    }

    .info h3 {
        text-align: center;
    }
}

@media (max-width: 767px) and (min-width: 541px) {
    .splash-screen-padding:nth-child(2n + 1) {
        clear: left;
    }
}

@media (max-width: 767px) {
    .header-info {
        height: 100%;
    }

    .header-info-contacts {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .navigation {
        line-height: 40px;
        margin-top: 80px;
    }

    .menu-link-icon {
        font-size: 36px;
        color: #000;
        display: inline-block;
        position: absolute;
        top: 20px;
        right: 15px;
        z-index: 2;
        cursor: pointer;
    }

    .menu-link-icon-close {
        display: inline-block;
        font-size: 34px;
        color: #fff;
        position: absolute;
        top: 20px;
        right: 15px;
        z-index: 3;
        cursor: pointer;
    }

    .bell {
        width: 260px;
        padding: 0;
        margin-top: 15px;
    }

    .location {
        width: 255px;
        padding-left: 15px;
    }

    .call a {
        font-size: 29px;
    }

    .call button {
        padding: 12px 10px;
    }

    .header-heading h1 {
        font-size: 42px;
    }

    .list-nav {
        display: none;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: #2e3033;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 2;
        overflow: hidden;
        overflow-y: auto;
    }

    .splash-screen:hover p, .splash-screen:active p {
        bottom: 65px;
    }

    .footer-location {
        text-align: center;
    }

    .footer-bell {
        text-align: center;
        margin-top: 35px;
    }

    .footer-location-adress, .phone-number {
        text-align: left;
    }
}

@media (max-width: 540px) {
    .splash-screen-padding {
        width: 100%;
        padding-left: 0;
    }

    .splash-screen:hover p, .splash-screen:active p {
        bottom: 125px;
    }
}

@media (max-width: 425px) {
    .header-heading h1 {
        font-size: 30px;
    }

    .list-nav ul {
        padding-left: 0;
    }

    .item-nav a {
        font-size: 20px;
    }

    .heading h2 {
        font-size: 20px;
    }

    .header-heading {
        max-width: 320px;
    }

    .splash-screen:hover p, .splash-screen:active p {
        bottom: 80px;
    }

    .footer-nav-wrap {
        margin-top: 20px;
    }

    .footer-nav a {
        display: block;
    }

    .footer-nav span {
        display: none;
    }
}







