@font-face {
    font-family: 'Cuprum';
    src: url('/fonts/cuprum/Cuprum-Bold.eot');
    src: url('/fonts/cuprum/Cuprum-Bold.eot?iefix') format('eot'),
    url('/fonts/cuprum/Cuprum-Bold.woff') format('woff'),
    url('/fonts/cuprum/Cuprum-Bold.ttf') format('truetype'),
    url('/fonts/cuprum/Cuprum-Bold.svg#webfont') format('svg');
}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url('/fonts/openSansBold/OpenSans-Bold.eot');
    src: url('/fonts/openSansBold/OpenSans-Bold.eot?iefix') format('eot'),
    url('/fonts/openSansBold/OpenSans-Bold.woff') format('woff'),
    url('/fonts/openSansBold/OpenSans-Bold.ttf') format('truetype'),
    url('/fonts/openSansBold/OpenSans-Bold.svg#webfont') format('svg');
}

@font-face {
    font-family: 'OpenSansCondensed';
    src: url('/fonts/openSansCondensed/OpenSansCondensed-Light.eot');
    src: url('/fonts/openSansCondensed/OpenSansCondensed-Light.eot?iefix') format('eot'),
    url('/fonts/openSansCondensed/OpenSansCondensed-Light.woff') format('woff'),
    url('/fonts/openSansCondensed/OpenSansCondensed-Light.ttf') format('truetype'),
    url('/fonts/openSansCondensed/OpenSansCondensed-Light.svg#webfont') format('svg');
}

@font-face {
    font-family: 'OpenSans-Light';
    src: url('/fonts/openSansLight/OpenSans-Light.eot');
    src: url('/fonts/openSansLight/OpenSans-Light.eot?iefix') format('eot'),
    url('/fonts/openSansLight/OpenSans-Light.woff') format('woff'),
    url('/fonts/openSansLight/OpenSans-Light.ttf') format('truetype'),
    url('/fonts/openSansLight/OpenSans-Light.svg#webfont') format('svg');
}
